<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<ul class="list-group">
			<li class="list-group-item"><%= topic.title%></li>
			<li class="list-group-item"><%= topic.content%></li>
		</ul>
		<ul class="list-group">
			<li class="list-group-item"><%= topic.reply_count%>&nbsp;回复</li>
			<%
			for(var i=0; i<replies.length; i++){
			var reply = replies[i];
			%>
			
			<li class="list-group-item">
				<div class="reply-item-box">
					<div class="avatar"><a href="#"><img class="media-object avatar-48" src="https://ruby-china-files.b0.upaiyun.com/user/large_avatar/15774.jpg" alt="15774"></a></div>
					<div class="reply-item">
						<div class="info">
							<div>
								<a class="author" href="#"><%= reply.author.loginid %></a>
								<span>&nbsp;•&nbsp;<%= i+1 %>楼&nbsp;•&nbsp;</span>
								<span><%= reply.create_at_ago() %></span>
							</div>
							<%if(current_user){%>
							<div class="opts">
								<%if(current_user._id.toString() === reply.author._id.toString()){%>
								<a title="编辑" href="/reply/<%= reply._id%>/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
								<%}%>
								<a title="赞" href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
								<a title="回复" href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>
							</div>
							<%}%>
							
						</div>
						<div><%= reply.content%></div>
					</div>
				</div>
			</li>
			<%}%>
			
		</ul>
		<%if(current_user){%>
		<div class="editor-box">
			<form class="form-horizontal" id="editor-form" action="/<%= topic._id%>/reply" method="post">
				<textarea class="form-control editor-text" id="r_content" name="r_content" rows="4" placeholder="添加回复"></textarea>
			</form>
		</div>
		<div class="preview-box markdown-reply">
		</div>
		<div class="editor-bar-box">
			<div class="editor-bar-buttons">
				<button name="save-btn" id="save-btn"  class="btn btn-primary">回复</button>
				<button name="edit-btn" id="edit-btn" class="btn btn-primary">编辑</button>
				<button name="preview-btn" id ="preview-btn" class="btn btn-primary">预览</button>
			</div>
			
			<div class="editor-bar-fa">
				<a title="上传图片" href="#"><i class="fa fa-image" aria-hidden="true"></i></a>
			</div>
		</div>
		
		
		<%}%>
	</div>
	<div class="col-md-3"></div>
</div>
<% if (current_user && typeof(topic) !== 'undefined') { %>
<script type="text/javascript">
var allAuthors = $('.author').map(function (idx, ele) {
	return $(ele).text().trim();
}).toArray();
allAuthors = _.uniq(allAuthors);
$('#r_content').atwho({
	at: "@",
	data: allAuthors
});
autosize($('#r_content'));
$('#edit-btn').click(function(){
	$('.editor-box').toggle(true);
	$('.editor-bar-fa').toggle(true);
	$('#preview-btn').toggle(true);
	$('.preview-box').toggle(false);
	$('#edit-btn').toggle(false);
	$('.preview-box').htm('');
});
$('#preview-btn').click(function(){
	$('.editor-box').toggle(false);
	$('.editor-bar-fa').toggle(false);
	$('#preview-btn').toggle(false);
	$('.preview-box').toggle(true);
	$('#edit-btn').toggle(true);
	var md = window.markdownit();
	$('.preview-box').html(md.render($('#r_content').val()));

});
</script>
<% } %>