<div class="list-group-item topic-item">
	<div class="avatar">
		<a href="javascript:void(0);"><img class="avatar-48" src="<%=topic.author.avatar_url%>">
		</a>
	</div>
	<div class="info">
		<div class="topic-title"><a href="/topic/<%= topic._id %>"><%= topic.title%></a></div>
		<div class="meta">
		<%
		if (typeof(topic.group) !== 'undefined' && topic.group !== null) {
		%>
			<a class="category" href="#"><%= topic.group.name %></a>

			<span>&nbsp;•&nbsp;</span>
		<%}%>

			
			<strong><a href="#"><%= topic.author.loginid %></a></strong>

			<span>&nbsp;•&nbsp;</span>

			<span><%= topic.create_at_ago()%></span>


		</div>
	</div>
	<div class="badge-reply-count">
		<a href="/topic/<%= topic._id %>"><span class="badge "><%= topic.reply_count%></span></a>
	</div>
	
</div>