<% layout('layout') -%>
    <div class="row">
        <div class="col-md-9">
            <div class="list-group">
                <div class="list-group-item group">
                    <div class="avatar">
                        <a href="javascript:void(0);">
                            <img src="<%=group.avatar_url%>">
                        </a>
                    </div>
                    <div class="info">
                        <div class="info-top">
                            <div class="info-nav">
                                <a href="/">OC</a>
                                <span class="chevron">&nbsp;›&nbsp;</span>
                                <span><%= group.name%></span>
                            </div>
                            <div class="tip">
                                <span>话题总数</span>
                                <strong class="gray"><%= topics.length%></strong>
                            </div>
                        </div>
                        <div class="bio">
                            <%= typeof(group.bio) !== 'undefined' && group.bio || '' %>
                        </div>
                        <div class="op">
                            <button type="button" class="super normal button" onclick="location.href = '/topic/create/<%= group.id%>';">创建话题</button>
                        </div>
                    </div>
                </div>
                <%- partial('../topic/topic', topics) %>
            </div>
        </div>
        <div class="col-md-3">
            <%- partial('./aside/about') %>
        </div>
    </div>
