<% layout('layout') -%>
    <div class="row">
        <div class="col-md-9">
            <div class="list-group">
                <div class="list-group-item group">
                    <div class="avatar">
                        <a href="javascript:void(0);">
                            <img src="<%=group.avatar_url%>">
                        </a>
                    </div>
                    <div class="group-info">
                        <div class="group-heading">
                           <h4><%= group.name%></h4>
                        </div>
                        <div class="bio">
                             <%= typeof(group.bio) !== 'undefined' && group.bio || '' %>
                        </div>
                    </div>
                    <div class="meta">
                        <span> 话题总数：<strong><%= topics.length%></strong> </span>
                    </div>
                </div>
                <%- partial('../topic/topic', topics) %>
            </div>


        </div>
        <div class="col-md-3">
            <%if(current_user){%>
            <%- partial('./aside/topic_new', {
             gid: group.id
            }) %>
            <%}%>
            <%- partial('./aside/about') %>
        </div>
    </div>
