
$icon-font-path: "/assets/fonts/bootstrap/";

$btn-primary-bg: #00b5ad;
$btn-primary-border: #00b5ad;

$label-primary-bg: #00b5ad;

$pagination-active-bg: #00b5ad;
$pagination-active-border: #00b5ad;

$pagination-color: #00b5ad;

$input-border-focus: #00b5ad;

$link-color: #05a1a2;
$link-hover-color: #22ddde;


@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "markdown";