@mixin avatar($width, $height) {
    width: $width;
    height: $height;
    border-radius: 4px;
}

html,
body {
    /* for sticky footer */
    height: 100%;
    font-size: 14px;
    color: #525252;
    // font-family: "lato-regular", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-family: NotoSansHans-Regular, AvenirNext-Regular, arial, Hiragino Sans GB, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    background: #f0f2f5;
}

.navbar-default {
    background-color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00c4bc;
    border-color: #00c4bc;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #00b5ad;
    border-color: #00b5ad;
}

.alert-success {
    border: none;
    background-color: #E5F9E7;
    color: #1EBC30;
}

.alert-info {
    border: none;
    background-color: #e9ffff;
    color: #10a3a3;
}

.alert-warning {
    border: none;
}

.alert-danger {
    border: none;
}

.alert {
    box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px transparent;
}

.padding-sm {
    padding: 10px;
}

.padding-md {
    padding: 15px;
}

.panel {
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid #dde2e8;
    .panel-heading,
    .panel-body {
        border: none;
    }
    .panel-heading {
        border-bottom: 1px solid #eeeeee;
        background-color: #fff;
    }
}

.panel .list-group {
    margin-bottom: 0px;
    .list-group-item {
        padding: 7px 15px;
        border: none;
        margin-bottom: 0px;
        border-bottom: 1px solid #f2f2f2;
    }
    .list-group-item:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

.meta,
.operate {
    color: #d0d0d0;
    font-size: 12px;
    a {
        color: #B9BDC0;
        text-decoration: none;
    }
    a.active {
        color: #ce8a81;
    }
}

.bio {
    // color: #b0b0b0;
    color: #999;
}

// topic
.topic-item {
    display: flex;
    align-items: center;
    .avatar {
        min-width: 50px;
        img {
            @include avatar(48px, 48px);
        }
    }
    .topic-info {
        margin: 0px 10px;
        flex: 1;
        .topic-title {
            font-size: 15px;
            a,
            a:focus,
            a:hover {
                color: #555;
            }
        }
        .meta {
            padding: 2px 0px;
        }
    }
    .badge-reply-count {}
}

.topic {
    .topic-header {
        background-color: #fcfcfc;
        .topic-title {
            font-size: 25px;
            color: #333;
            text-align: left;
            line-height: 135%;
            margin-bottom: 12px;
            font-weight: normal;
        }
    }
    .topic-footer {
        background-color: #fcfcfc;
        text-align: right;
    }
}

.preview-box {
    padding: 10px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #faf5eb;
}

.editor-bar-box {
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    .editor-bar-buttons {
        button:first-of-type {
            margin-right: 10px;
        }
        button:nth-child(2) {
            display: none;
        }
    }
    .editor-bar-fa {
        padding: 0px;
        a,
        a:hover {
            color: #333;
        }
    }
}

// reply item
.reply-item {
    display: flex;
    .avatar {
        min-width: 50px;
        img {
            @include avatar(48px, 48px);
        }
    }
    .reply-info {
        flex: 1;
        margin-left: 10px;
        .reply-heading {
            display: flex;
            .reply-heading-info {
                flex: 1;
            }
        }
        .reply-content {}
    }
}

// aside author
.author {
    .avatar {
        img {
            @include avatar(60px, 60px);
        }
    }
    .bio {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

// group
.group {
    display: flex;
    .avatar {
        min-width: 73px;
        margin-right: 10px;
        img {
            @include avatar(73px, 73px);
        }
    }
    .group-info {
        flex: 1;
    }
    .bio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .meta {
        align-self: flex-start;
    }
}

.nav-aside {
    padding-top: 20px;
    padding-bottom: 10px;
    .list-group {
        // margin-bottom: 0px;
        .list-group-item {
            // padding: 0px 15px;
            border: none;
            margin-bottom: 0px;
            border-bottom: 1px solid #f2f2f2;
        }
        .list-group-item:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }
    }
}

.invitation {
    margin-top: 10px;
    color: gray;
    padding: 16px;
    border: dashed 1px;
    .invitation-heading {
        font-size: 25px;
        color: #333;
    }
    .invitation-bio {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .invitation-url {}
}

// qun
.qun {
    display: flex;
    .avatar {
        min-width: 73px;
        margin-right: 10px;
        img {
            @include avatar(73px, 73px);
        }
    }
    .qun-info {
        flex: 1;
    }
    .bio {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .meta {
        align-self: flex-start;
    }
}

// message
.messages h1 {
    font-size: 20px;
    margin-top: 5px;
}

.message {
    display: flex;
    .avatar {
        min-width: 40px;
        img {
            @include avatar(38px, 38px);
        }
    }
    .message-info {
        margin-top: 5px;
        margin-left: 20px;
    }
}
