$background-basic: #e9eaed;
//亮灰
$color-basic: #333333;
//黑
$info-text-color: #B9BDC0;
$reply-editor-min-height: 100px;
$topic-editor-min-height: 300px;

body {
	background: $background-basic;
}
@mixin avatar($width, $height) {
	width: $width;
	height: $height;
	border-radius: 120px;
}
@mixin sep($width) {
	width: $width;
}
.sep-5 {
	@include sep(5px);
}
.sep-10 {
	@include sep(10px);
}
.avatar-box {
	margin-right: 10px;
}
.avatar-48 {
	@include avatar(48px, 48px);
}
.notice p {
	padding: 15px;
}
.alert {
	box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19);
}
$reply-item-min-height: 48px;

.reply-box {
	display: flex;

	.avatar {
		min-width: $reply-item-min-height;
	}
	.info {
		flex: 1;
		min-width: $reply-item-min-height;
		display: flex;
		flex-direction: column;

		.info-basic {
			display: flex;
			justify-content: space-between;
			color: $info-text-color;

			.info-basic-meta {
				flex: 1;

				a {
					color: $info-text-color;
				}
				a:hover {
					color: $info-text-color;
					text-decoration: none;
				}
			}
			.info-basic-opt {
				width: 50px;
				text-align: right;

				a {
					color: #89898A;
				}
				a:hover {
					color: $color-basic;
					text-decoration: none;
				}
			}
		}
		.reply-content {
			word-wrap: break-word;
		}
	}
}
.topic-editor {
	textarea {
		min-height: $topic-editor-min-height;
	}
}
.reply-editor {
	textarea {
		min-height: $reply-editor-min-height;
	}
}
.preview-box {
	padding: 10px;
	display: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #faf5eb;
}
.topic-preview {
	min-height: $topic-editor-min-height;
}
.reply-preview {
	min-height: $reply-editor-min-height;
}
.editor-bar-box {
	padding: 5px 0px;
	display: flex;
	justify-content: space-between;

	.editor-bar-buttons {
		button:first-of-type {
			margin-right: 10px;
		}
		button:nth-child(2) {
			display: none;
		}
	}
	.editor-bar-fa {
		padding: 0px;

		a, a:hover {
			color: #333;
		}
	}
}