@import "vars";

body {
	background: #e9eaed;
	color: $black;
	font-family: Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Heiti SC", "Microsoft Yahei", sans-serif;
}
@mixin avatar($width, $height) {
	width: $width;
	height: $height;
	border-radius: 120px;
}
.avatar-box {
	margin-right: 10px;
}
.avatar-48 {
	@include avatar(48px, 48px);
}
.avatar-65 {
	@include avatar(65px, 65px);
}
.avatar-80 {
	@include avatar(80px, 80px);
}
.alert {
	box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19);
}
.topic-heading {
	display: flex;

	.topic-info {
		flex: 1;
		.topic-title {
			font-size: 22px;
			color: #333;
			text-align: left;
			line-height: 135%;
			margin-bottom: 8px;
			font-weight: bold;
		}
		.topic-meta {
			color: $gray;
			a{
				color: $gray;
				text-decoration: none;
			}
		}
	}
	.topic-avatar {
		margin-left: 10px;
		min-width: 70px;
	}
}

/** reply info item **/
.opt {
	a {
		color: $gray;
		text-decoration: none;
	}
	a:hover {
		color: $black;
	}
	a.active .fa {
		@extend .animated;
		@extend .bounceIn;
		color: $red;
	}
}
.info {
	min-width: 200px;

	.info-bar {
		margin-bottom: 5px;
		color: $gray;
		display: flex;
		justify-content: space-between;

		.info-meta {
			flex: 1;

			a {
				color: $gray;
				text-decoration: none;
			}
		}
		.opt {
			min-width: 50px;
			text-align: right;
		}
	}
	.info-content {
		word-wrap: break-word;
	}
}
.reply-box {
	display: flex;

	.info {
		flex: 1;
	}
}

/** editor **/
.topic-editor {
	textarea {
		min-height: $topic-editor-min-height;
	}
}
.reply-editor {
	textarea {
		min-height: $reply-editor-min-height;
	}
}
.preview-box {
	padding: 10px;
	display: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #faf5eb;
}
.topic-preview {
	min-height: $topic-editor-min-height;
}
.reply-preview {
	min-height: $reply-editor-min-height;
}
.editor-bar-box {
	padding: 5px 0px;
	display: flex;
	justify-content: space-between;

	.editor-bar-buttons {
		button:first-of-type {
			margin-right: 10px;
		}
		button:nth-child(2) {
			display: none;
		}
	}
	.editor-bar-fa {
		padding: 0px;

		a, a:hover {
			color: #333;
		}
	}
}