<div class="card">
	<ul class="list-group">
		<li class="list-group-item card-title dot-ellipsis dot-resize-update">
			<%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %>
		</li>
		<li class="list-group-item card-bio dot-ellipsis dot-resize-update">
			<%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %><%= card.bio %>
		</li>
		<li class="list-group-item card-operate">
			<button>申请加入</button>
		</li>
	</ul>
</div>