<!DOCTYPE html>
<html>
	<head>
		<!-- style -->
		<%- Loader('/public/index.min.css')
		.css('/public/libs/bootstrap/css/bootstrap.css')
		.css('/public/libs/font-awesome/css/font-awesome.min.css')
		.css('/public/libs/at/css/jquery.atwho.css')
		.css('/public/stylesheets/main.css')
		.css('/public/stylesheets/markdown.css')
		.done(assets, config.site_static_host, config.mini_assets)
		%>
		<!-- scripts -->
		<%- Loader('/public/index.min.js')
		.js('/public/libs/jquery-2.2.2.js')
		.js('/public/libs/bootstrap/js/bootstrap.js')
		.js('/public/libs/autosize.js')
		.js('/public/libs/at/js/jquery.caret.js')
		.js('/public/libs/at/js/jquery.atwho.js')
		.js('/public/libs/lodash.js')
		.js('/public/libs/markdown-it.js')
		.js('/public/libs/jquery.ui.widget.js')
		.js('/public/libs/jquery.iframe-transport.js')
		.js('/public/libs/jquery.fileupload.js')
		.js('/public/libs/jquery.fileupload-process.js')
		.js('/public/libs/jquery.fileupload-validate.js')
		.js('/public/js/main.js')
		.done(assets, config.site_static_host, config.mini_assets)
		%>
		<title></title>
	</head>
	<body>
		<nav class="navbar navbar-default topnav">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">OwnC</a>
				</div>
				<ul class="nav navbar-nav main-nav">
					<li class="<%= site && site == 'open' ? 'active' : '' %>" ><a href="/">社区</a></li>
					<li class="<%= site && site == 'group' ? 'active' : '' %>"><a href="/group">群</a></li>
				</ul>
				<%if(current_user){%>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/message" title="通知">
							<i class="fa fa-bell bell"></i>
							<span class="count">11</span>
						</a>
					</li>
					<li>
						<a>
							<i class="fa fa-user"></i>
							<%= current_user.loginid %>
						</a>
					</li>
					<li>
						<a href="/logout">
							<i class="fa fa-sign-out"></i>
							退出
						</a>
					</li>
				</ul>
				<%}else{%>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/signup">注册</a></li>
					<li><a href="/signin">登录</a></li>
				</ul>
				<%}%>
			</div>
		</nav>
		<div class="container ">
			<%-body -%>
		</div>
	<footer class="footer"></footer>
</body>
</html>