<div class="list-group-item notification">
				<div class="avatar">
					<a href="javascript:void(0);"><img class="avatar-32" src="<%= message.receiver.avatar_url%>" >
					</a>
				</div>
				<%if(message.type === MessageType.Reply){%>
					<%- partial('./reply', {sender: message.sender, topic: message.topic, reply: message.reply}) %>
				<%}else if(message.type === MessageType.At.reply){%>
					<%- partial('./at_reply', {sender: message.sender, topic: message.topic, reply: message.reply}) %>
				<%}else if(message.type === MessageType.At.topic){%>
					<%- partial('./at_topic', {sender: message.sender, topic: message.topic}) %>
				<%}else if(message.type === MessageType.Apply.Qun.join){ %>
					<%- partial('./apply_qun_join', {sender: message.sender, qun: message.qun}) %>
				<%}%>
				<div class="time">
					<%= message.create_at_fmt()%>
				</div>
			</div>