<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<div class="list-group">
			<div class="list-group-item">通知</div>
			<div class="list-group-item">
				<% if(typeof(error) !== 'undefined' && error){ %>
				<div class="message-tip">
					<p class="bg-danger"><%= error%></p>
				</div>
				<%}%>
				<% if(typeof(success) !== 'undefined' && success){ %>
				<div class="message-tip">
					<p class="bg-success"><%= success%></p>
				</div>
				<%}%>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<%- partial('./aside/about') %>
	</div>
</div>