/* Animations */
.animated, .operate a.active .fa {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5); }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  70% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

.bounceIn, .operate a.active .fa {
  -webkit-animation-name: bounceIn;
          animation-name: bounceIn; }

body {
  background: #e9eaed;
  color: #222527;
  font-family: Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Heiti SC", "Microsoft Yahei", sans-serif; }

.navbar {
  border: 0;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-default .navbar-nav > li > a {
  color: #333;
  border-bottom: 3px solid #FFF;
  padding-bottom: 12px; }

.tab-content {
  margin-top: 20px; }

.topnav {
  background-color: #FFF;
  min-height: 40px;
  -webkit-box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(0, 0, 0, 0.1); }

.topnav .main-nav > li > a:hover,
.topnav .main-nav > li.active a,
.topnav .main-nav > li.active a:hover {
  border-bottom: 3px solid #EB5424;
  color: #EB5424;
  background: transparent;
  padding-bottom: 12px; }

.avatar-box {
  margin-right: 10px; }

.avatar-32 {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.avatar-48 {
  width: 48px;
  height: 48px;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.avatar-65 {
  width: 65px;
  height: 65px;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.avatar-80 {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 4px;
          border-radius: 4px; }

.alert {
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19);
          box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.19); }

abbr[title] {
  border-bottom: 0px;
  cursor: text; }

.meta, .operate {
  color: #B9BDC0;
  font-size: 12px; }
  .meta a, .operate a {
    color: #B9BDC0;
    text-decoration: none; }
  .meta .timeago, .operate .timeago {
    font-size: 11px; }
  .meta a.anchor, .operate a.anchor {
    color: #d0d0d0; }

.operate a:hover {
  color: #222527; }

.operate a.active .fa {
  color: #EB5424; }

.follow {
  margin-right: 5px; }

.bell {
  position: relative; }
  .bell .count {
    line-height: 20px;
    position: absolute;
    margin: 0px;
    top: -5px;
    color: #333; }

.author {
  color: #333; }

.notification {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .notification .avatar {
    margin-right: 10px;
    min-width: 32px; }
  .notification .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 0; }
    .notification .info .notification-head {
      color: #333;
      font-size: 14px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      min-width: 0;
      white-space: nowrap; }
      .notification .info .notification-head .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .notification .info .notification-head .text {
        margin: 0px 8px; }
    .notification .info .notification-body {
      margin: 15px 0px;
      background: #F7F7F7; }
  .notification .time {
    margin-left: 10px;
    min-width: 30px; }

.box {
  background-color: #fff;
  padding: 10px;
  margin: 0 0 20px 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 .2em 0 0 #ddd,0 0 0 1px #ddd;
          box-shadow: 0 .2em 0 0 #ddd,0 0 0 1px #ddd; }

/**card**/
.card-box .logo {
  margin-right: 10px; }

.card-box .card-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .card-box .card-header .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .card-box .card-header .info .title {
      padding: 5px 0px;
      font-weight: bold;
      font-size: 14px;
      height: 30px; }

.card-box .card-bio {
  margin-top: 10px;
  border: 0;
  border-top: 1px dashed #DDD;
  padding: 10px 0px;
  color: #666;
  height: 100px; }

.card .card-title {
  font-weight: bold;
  font-size: 14px;
  height: 50px;
  border-bottom: 1px dashed #DDD; }

.card .card-bio {
  color: #666;
  height: 100px; }

.card .card-bio-no {
  color: #c9cccf;
  height: 100px; }

.card .card-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/**topic list**/
.topic-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .topic-list .info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 0; }
    .topic-list .info .topic-title {
      margin: 0 0 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .topic-list .info .topic-title a {
        color: #555; }
  .topic-list .avatar {
    margin-right: 10px;
    min-width: 50px; }
  .topic-list .badge-reply-count {
    margin-top: 10px;
    margin-left: 15px; }
    .topic-list .badge-reply-count .badge {
      background-color: #8BAFCE; }

/**topic item**/
.topic-header {
  background-color: #fcfcfc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .topic-header .info {
    word-break: break-all;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .topic-header .info .topic-title {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 22px;
      color: #333;
      text-align: left;
      line-height: 135%;
      font-weight: 700; }
  .topic-header .avatar {
    margin-left: 10px;
    min-width: 70px; }

.topic-footer {
  background-color: #fcfcfc;
  text-align: right; }

/** reply item **/
.reply-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .reply-box .info {
    word-break: break-all;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .reply-box .info .info-bar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .reply-box .info .info-bar .meta {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .reply-box .info .info-bar .operate {
        min-width: 50px;
        text-align: right; }
    .reply-box .info .info-content {
      word-wrap: break-word; }
  .reply-box .avatar {
    margin-right: 10px;
    min-width: 50px; }

/** editor **/
.topic-editor textarea {
  min-height: 300px; }

.reply-editor textarea {
  min-height: 100px; }

.preview-box {
  padding: 10px;
  display: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #faf5eb; }

.topic-preview {
  min-height: 300px; }

.reply-preview {
  min-height: 100px; }

.editor-bar-box {
  padding: 5px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .editor-bar-box .editor-bar-buttons button:first-of-type {
    margin-right: 10px; }
  .editor-bar-box .editor-bar-buttons button:nth-child(2) {
    display: none; }
  .editor-bar-box .editor-bar-fa {
    padding: 0px; }
    .editor-bar-box .editor-bar-fa a, .editor-bar-box .editor-bar-fa a:hover {
      color: #333; }
