<li>
					<div class="avatar">
						<a href="/qun/<%=qun.id%>">
						<img class="avatar-65" src="<%= qun.avatar_url%>">
						</a>
					</div>
					<div class="info">
						<div class="organization-header">
							<div class="title"><a href="/qun/<%=qun.id%>"><%= qun.name%></a></div>
							<div class="meta">
								<span>话题 &nbsp;<strong><%= qun.topic_count%></strong></span>
								&nbsp;&nbsp;
								<span>成员 &nbsp;<strong><%= qun.member_count%></strong></span>
							</div>
						</div>
						<div class="organization-bio">
							<%= qun.bio%>
						</div>
					</div>
				</li>