<% layout('layout') -%>
    <div class="row">
        <div class="col-md-9">
            <div class="list-group">
                <div class="list-group-item qun">
                    <div class="avatar">
                        <a href="javascript:void(0);">
                            <img src="<%=qun.avatar_url%>">
                        </a>
                    </div>
                    <div class="qun-info">
                        <div class="qun-heading">
                           <h4><%= qun.name%></h4>
                        </div>
                        <div class="bio">
                             <%= typeof(qun.bio) !== 'undefined' && qun.bio || '' %>
                        </div>
                    </div>
                    <div class="meta">
                        <span> 话题总数：<strong><%= topics.length%></strong> </span>
                    </div>
                </div>
                <%- partial('../topic/topic', topics) %>
            </div>


        </div>
        <div class="col-md-3">
            <%if(current_user){%>
            
            <%- partial('./aside/qun_topic_new', {
            qid: qun.id
            }) %>

            <%- partial('./aside/qun_admin', {
            qid: qun.id
            }) %>

            <%}%>
            
            <%- partial('./aside/about') %>
        </div>
    </div>
