<% layout('layout') -%>
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                <div class="list-group-item">
                    <strong>方式1：以下专属邀请链接，请复制后分享给您的好友</strong>
                    <div class="text-box">
                    	http://www.baidu.com
                    </div>
                    <input class="btn btn-primary" value="复制">
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <%- partial('./aside/about') %>
        </div>
    </div>
