<div class="list-group-item topic-item">
	<div class="avatar">
		<a href="javascript:void(0);"><img class="avatar-48" src="<%=topic.author.avatar_url%>">
		</a>
	</div>
	<div class="info">
		<div class="topic-title"><a href="/qun/<%= topic.qun_id%>/topic/<%= topic._id %>"><%= topic.title%></a></div>
		<div class="meta">
		<%
		if (typeof(topic.qun) !== 'undefined' && topic.qun !== null) {
		%>
			<a href="/qun/<%= topic.qun_id %>"><%= topic.qun.name %></a>

			<span>&nbsp;•&nbsp;</span>
		<%}%>

			
			<a href="#"><%= topic.author.loginid %></a>

			<%
			if(topic.last_reply_id){
			%>

			<span>&nbsp;•&nbsp;</span>

			最后由&nbsp;<a href="#"><%= topic.last_reply_author%></a>&nbsp;<%= topic.last_reply_at_ago()%>回复
						
<%}%>

		</div>
	</div>
	<div class="badge-reply-count">
		<a href="/topic/<%= topic._id %>"><span class="badge "><%= topic.reply_count%></span></a>
	</div>
	
</div>