<div class="col-sm-12 col-xs-12 col-md-6 col-lg-4 card">
	<ul class="list-group">
		<li class="list-group-item card-box">
			<div class="card-header">
				<div class="logo"><a href="#"><img class="avatar-48" src="https://cdn.v2ex.co/navatar/c74d/97b0/16_large.png?m=1468231425"></a></div>
				<div class="info">
					<div class="title dot-ellipsis dot-resize-update"><a href="/org/<%= card.id %>"><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %><%= card.name %></a></div>
					<div class="meta">
						<span>话题：<%= card.topic_count%></span>
						&nbsp;
						<span>成员：<%= card.members.length%></span>
					</div>
				</div>
			</div>
			<div class="card-bio dot-ellipsis dot-load-update">
				<%= card.bio %>
			</div>
		</li>
	</ul>
</div>