<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<ul class="list-group">
			<li class="list-group-item">
				<div><%= org.name%></div>
				<div><%= org.bio%></div>
			</li>
			<%
			if(typeof(topics) !== 'undefined' && topics && topics.length > 0){
			%>
			<%- partial('./topic', topics) %>
			<%} else {%>
			<li class="list-group-item">
				暂无话题
			</li>
			<%}%>
			
		</ul>
	</div>
	<div class="col-md-3">
		<%
		if(current_user){
		%>
			<% if(is_member(org, current_user)){%>
			<%- partial('./aside/org_topic_new', {orgid: org.orgid}) %>
			<%} else{%>
			<%- partial('./aside/org_apply', {orgid: org.orgid}) %>
			<%}%>
		<%}%>
		<%- partial('./aside/about') %>
	</div>
</div>