<% layout('layout') -%>
<div class="row">
	<div class="col-md-9">
		<ul class="list-group">
			<li class="list-group-item organization">
				<div class="avatar">
					<a href="javascript:void(0);"><img class="avatar-65" src="<%= organization.avatar_url%>"></a>
				</div>
				<div class="info">
					<div class="organization-header">
						<div class="title"><%= organization.name%></div>
						<div class="meta">
							<span>话题 &nbsp;<strong><%= organization.topic_count%></strong></span>
							&nbsp;&nbsp;
							<span>成员 &nbsp;<strong><%= organization.members.length%></strong></span>
						</div>
					</div>
					<div class="organization-bio">
						<%= organization.bio%>
					</div>
					<div>
						<%
						if(organization.is_member){
						%>
						<button type="button" class="super normal button" onclick="location.href = '/qun/<%= organization.id%>/topic/create';">创建话题</button>
						<%}else{%>
						<button type="button" class="super normal button apply" id="<%= organization.id %>" data-toggle="modal" data-target="#applyModal">申请加入</button>
						<div class="modal fade" id="applyModal" tabindex="-1" role="dialog" aria-hidden="true">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-body">
										<textarea class="form-control" name="apply-content" rows="4" placeholder="填写验证信息"></textarea>
										<br />
										<button type="button" value="发送" id="apply-submit" name="apply-submit" class="btn btn-primary">发送</button>
									</div>
								</div>
							</div>
						</div>
						<%}%>
						
						
					</div>
				</div>
			</li>
			<%
			if(typeof(topics) !== 'undefined' && topics && topics.length > 0){
			%>
			<%- partial('./topic', topics) %>
			<%} else {%>
			<li class="list-group-item">
				暂无话题
			</li>
			<%}%>
			
		</ul>
	</div>
	<div class="col-md-3">
		<%- partial('./aside/about') %>
	</div>
</div>